@font-face{
  font-family: "Starjedi";
  src: url("./fonts/Starjedi.ttf");
}
@font-face{
  font-family: "Starjhol";
  src: url("./fonts/Starjhol.ttf");
}

.App{
  font-family: Starjedi;
  letter-spacing: 1.5px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: space-evenly;
  background-image: linear-gradient(orange, red);
  height: 100vh;
  margin: 0px;
}

h2{
  padding: 15px;
  height: 20vh;
}

img{
  width: 30vw;
  padding: 0 10px;
}
button {
  font-family: Starjhol;
  background-color: black;
  border-radius: 10px;
  color: white;
  font-size: 32px;
  padding: 0 25px 5px 25px;
  }
  
  button:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.9);
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.75);
  transition-duration: 300ms;
  }
  
  button:active {
  transform: scale(0.95);
  }